@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;


p{
  font-family: "merriweather", sans-serif;
}

.masthead{
  padding: 4rem 0 4rem 0;
  margin-bottom: 3rem;
  background: $medium-gray;
}

#homepage-masthead{
  color: white;
  background-image: url("../img/home-bg.jpeg");
  background-size: cover;
  background-position: bottom;
  h1, h2, h3{font-weight: normal;}
  h1{font-size: 2rem;}
  h2{font-size: 1.25rem;}
  padding-bottom: 0;
}

#masthead-bookcover{
  @include breakpoint(small only) {
    margin-top: 2rem;
  }
}

#content{
  font-family: "merriweather", sans-serif;
  font-size: 1.1rem;
}

#sidebar{
  .excerpts-list{
    margin-top: 1.5rem;
  }
  header{
    margin-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1rem;
  }
  ul{
    padding: 0;
    margin: 0;
    li{
      list-style: none;
      margin-bottom: 0.7em;
      font-size: 0.9rem;
      line-height: 1.2rem;
      letter-spacing: 0.02rem;
    }
  }
}
.program-features{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.program-feature{
  text-align: center;
}

.contact-radio{
  display: block;
}

input[type="radio"] {
  margin-bottom: 0;
}

footer{
  font-size: 0.85rem;
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background: $light-gray;
}
