<header class="top-bar">
  <div class="row">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a href="index.html">Success(ion) MMXX Inc.</a></li>
      <li><a href="succession2020-book.html">Book</a></li>
      <li class="has-submenu">
        <a href="#">Program</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="sme.html">SME Owners</a></li>
          <li><a href="bse.html">Business Support Experts</a></li>
          <li><a href="twmpp.html">Total Wealth Management Planning Process</a></li>
          <li><a href="incipient-financing.html">Incipient Financing</a></li>
          <li><a href="partners-in-the-process.html">Partners in the Process Collaborative</a></li>
          <li><a href="trilogy-of-coordination.html">Trilogy of Coordination</a></li>
        </ul>
      </li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
  </div>
</header>
